<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @post %>

  <div>
    <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-primary mt-4 mx-3" %> 
    <%= link_to "Back to posts", posts_path, class:"btn btn-secondary mt-4" %>

    <%= button_to "Destroy this post", @post, method: :delete, class:"btn btn-danger mt-4 mx-3" %>
  </div>
</div>
